<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<!-- Set the number of threads here like: 0,1,2,3,... -->
		<add key="DegreeOfParallelism" value="1" />
		<!-- 0: To make the code execute all threads when you specify a degreeOfParallelism of 0, 
             you can modify the code to use the maximum number of threads available on the system 
             when degreeOfParallelism is set to 0. 
			 1: Parallely responsible threads execute the program. (Recommended)
			 2 or more: Specific no.of threads will execute the program. (Not Recommended)
		-->
		<!-- Set the application single or multi thread such as true or false -->
		<add key="IsSingleThread" value="false" />
	</appSettings>
</configuration>
